@page {
    width: 3.5in;
    height: 1.54in;
}

img {
    height: 1.5in;
    width:100%;
    display: inline-block;
    vertical-align: middle;
    image-rendering: pixelated;
    margin-left: 3pc;
}

@media print{
    footer {page-break-after: always;}
}




div.a {
  text-align: center;
  font-size: 22px;
}

div.container{
    margin-top: 5mm;
    margin-bottom: 5mm;
    height: auto;
}